body {
  font-family: "Space Mono", sans-serif;
}

@media screen and (min-width: 768px) {
  header {
    margin-top: -530px !important;
  }
}

#tips-list li.selected-tip {
  background: hsl(172, 67%, 45%);
}

#tips-list li.selected-tip span {
  color: hsl(183, 100%, 15%);
}

#tips-list #li-with-input.selected-tip {
  border: 2px solid hsl(172, 67%, 45%);
  background: hsl(203, 50%, 97%);
}
